%li.game{:homebrew => "#{game.homebrew}", :min => "#{game.min_players}", :max => "#{game.max_players}", :game_id => "#{game.id}"}<
	= game.name
	%br>
	%span{:style => "color: #ADDF70"}
		Players: #{game.min_players} - #{game.max_players}